/* Override some settings from main.css */
.content {
    max-width: 60em;
}

/* Custom css */
section {
    margin-bottom: 1em;
}

#controls {
    display: block;
    float: left;
    margin-left: 1em;
    width: calc(30% - 1em);
}

#map {
    display: block;
    float: right;
    height: 400px;
    width: 70%;
}

.tabspacer {
    float: left;
    height: 2em;
    width: 2em;
}
.tab {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #b0b0b0;
    font-family: "Lucida grande", sans-serif;
    font-size: 0.6em;
    font-weight: bold;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
    }
    .tab:hover {
        color: #909090;
        cursor: pointer;
    }
    .tab.active {
        background: #fbfbfb;
        color: #000;
    }

.cal-nav {
    border: 1px solid #fff;
    border-radius: 5px;
    color: #666;
    float: left;
    height: 265px;
    width: 2em;
    }
    .cal-nav span {
        display: block;
        margin-left: 0.3em;
        margin-top: 120px;
    }
    .cal-nav:hover {
        background-color: #fbfbfb;
        border-color: #ddd;
        color: #000;
        cursor: pointer;
    }

.cal-chart {
    float: left;
    width: calc(100% - 4em - 4px);
}

#calendar {
    display: inline-block;
    width: 60em;
}

.graph-label:hover {
    cursor: pointer;
}
