/* Override some settings from main.css */
.content {
    max-width: 60em;
}

/* Custom css */
#controls {
    background-color: #fbfbfb;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-color: #DDD;
    padding: 2em;
}

#bird-controls {
    display: inline-block;
}

#main {
    display: inline-block;
}

.tabspacer {
    width: 2em;
    height: 2em;
    float: left;
}
.tab {
    font-family: "Lucida grande", sans-serif;
    font-size: 0.6em;
    font-weight: bold;
    float: left;
    color: #b0b0b0;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    background: #fff;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
    }
    .tab:hover {
	color: #909090;
	cursor: pointer;
	cursor: hand;
    }
    .tab.active {
	color: #000;
	background: #fbfbfb;
	border-color: #fff;
	border-color: #DDD;
    }

.cal-nav {
    width: 2em;
    height: 350px;
    float: left;
    color: #666;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    }
    .cal-nav span {
	display: block;
	margin-top: 160px;
	margin-left: 0.3em;
	}
    .cal-nav:hover {
	background-color: #fbfbfb;
	border-color: #DDD;
        color: #000;
	cursor: pointer;
	cursor: hand;
    }

.cal-chart {
    height: 350px;
    width: calc(100% - 4em - 4px);
    float: left;
}

#calendar {
    width: 60em;
    display: inline-block;
}

.graph-label:hover {
    cursor: pointer;
    cursor: hand;
}
