#controls {
    background-color: #f8f8f8;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    padding-bottom: 20px;
    padding-top: 20px;
}
#display {
    padding-bottom: 20px;
    padding-top: 20px;
    }
    #display .row {
        margin-bottom: 20px;
        }
        #metric-metadata {
            margin-top: 20px;
            padding-top: 5px;
        }

#footer {
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.chart {
    background-color: #313131;
    min-height: 200px;
}
