#controls {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    padding-bottom: 20px;
    padding-top: 20px;
    }
    #controls .chart,
    #controls .cal-nav {
        float: left;
        height: 130px; /* Height of chart, affects padding of .cal-nav span */
    }
    #controls .chart {
        overflow: hidden;
        width: calc(100% - 2 * 40px);
        }
        #controls .chart .graph-label:hover {
            cursor: pointer;
            font-weight: bold;
        }
    #controls .cal-nav {
        color: #428bca; /* Bootstrap blue for a */
        cursor: pointer;
        width: 40px; /* Affects width of .chart */
        }
        #controls .cal-nav:hover {
            color: #2a6496; /* Bootstrap blue for a:hover */;
        }
        #controls .cal-nav span { /* Arrow icon */
            display: block;
            padding: 51px 12px; /* Icon is 28 x 16, padding stretches span to full div */
        }

#display {
    padding-bottom: 20px;
    padding-top: 20px;
    }
    #display .row {
        margin-bottom: 20px;
        }
        #metric-metadata {
            margin-top: 20px;
            padding-top: 5px;
        }

#footer {
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#display .chart { /* Temporarily */
    background-color: #313131;
    min-height: 200px; 
    min-width: 20px;
}
