#map {
    padding-bottom: 20px;
    }
    #map-canvas {
        background-color: #313131;
        height: 350px;
    }

#controls {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    padding-bottom: 20px;
    padding-top: 20px;
    }
    #year-chart,
    #controls .cal-nav {
        float: left;
        height: 150px; /* Height of chart, affects padding of .cal-nav span */
    }
    #year-chart {
        width: calc(100% - 2 * 40px);
        }
        #year-chart rect.highlight,
        #year-chart rect:hover {
            stroke: #428bca;
            stroke-width: 2;
        }
        #year-chart .graph-label {
            fill: #428bca; /* Bootstrap blue for a */
            font-size: 11px;
            }
            #year-chart .graph-label:hover {
                cursor: pointer;
                fill: #2a6496; /* Bootstrap blue for a:hover */
                font-weight: bold;
            }
    #controls .cal-nav {
        color: #428bca;
        cursor: pointer;
        width: 40px; /* Affects width of #year-chart */
        }
        #controls .cal-nav:hover {
            color: #2a6496;
        }
        #controls .cal-nav span { /* Arrow icon */
            display: block;
            padding: 51px 12px; /* Icon is 28 x 16, padding stretches span to full div */
        }
    #bird-metadata:first-letter {
        text-transform: capitalize;
    }

#metrics {
    min-height: 300px;
    padding-bottom: 20px;
    padding-top: 20px;
    }
    .metrics-header {
        margin-bottom: 20px;
        padding-top: 10px;
        }
        .metrics-header h3 {
            margin-top: 5px;
        }
        .metrics-header p {
            margin-top: 5px;
        }
    #month-chart rect.highlight,
    #month-chart rect:hover {
            stroke: #428bca;
            stroke-width: 1;
        }

#footer {
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
